a { text-decoration: none;
color: whitesmoke}

body {
}

.frontpaper {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    position: absolute;
    width: 20%;
    height: 18.5%;
    /* center page with absolute position */
    top: 15%; left: 50%; transform: translate(-50%, 0);
    flex-wrap: wrap; 
    display:flex;
    justify-content: center;
  
}

.button:hover {
transform: scale(1.05);
}
.thanks {  
  position:absolute;
  top: 35%; left: 50%; transform: translate(-50%, 0);
  max-width: 25%;

}